/* master_page.html */

body{
    background-color: #f5f5f5;
}

.activecustom {
    color: darkorange;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: darkorange;

}

.activecustom:hover {
    color: darkorange;
    background-color: #ffffff;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: darkorange;
}

.activecustom:focus {
    color: darkorange;
}

.nonactivecustom {
    color: black;
    background-color: #ffffff;
    border-bottom-color: white;

}

.a-nonactivecustom {
    color: black;
    background-color: #ffffff;
    border-bottom-color: white;

}

.nonactivecustom:hover {
    color: darkorange;
    border-bottom-style: solid;
    border-bottom-color: #F5D0A9;

}

.a-nonactivecustom:hover {
    color: darkorange;

}

.navbar-custom {
    background-color: #ffffff;
    /*border-bottom-color: darkorange;*/
    border-bottom-style: none;

}

.nav-tabs-custom {
    margin-top: 5%;
    background-color: #ffffff;
    border-bottom-style: none;

}

.nav-tabs-custom > li > a:hover {
    background-color: #ffffff;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #ffffff;
    border-bottom: none;

}

.nav-tabs-custom > li:hover {
    background-color: #ffffff;

}

.nav-tabs-custom:hover {
    background-color: #ffffff;
    background: #ffffff;
    border-bottom: none;

}

.navbar-logo-custom {
    margin-left: 10%;

}

.button-orange {
    color: white;
    background-color: darkorange;


}

.button-orange:hover {
    color: white;
    background-color: darkorange;
    font-size: 110%;
    border-color: darkorange;
}

.button-orange:focus{
    color: darkorange;
    background-color: white;
    font-size: 110%;
    border: 1px 1px 1px 1px ;
    border-color: darkorange;
}

.img-upload-custom{

}

.select-custom{
    background-color: #ffffff;
}



.panel-footer-custom {
    background-color: darkorange;
    color: #ffffff;
}

.panel-footer-custom > a {
    margin-left: 5%;
    color: #ffffff;
}

.form-input-header-custom {
    margin-top: 5%;

}

.nav-divider-custom {
    border-left: 5px;

    border-left-color: darkorange;
}

.form-input-header-custom:focus {
    border-color: #F5D0A9;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;

}

.glyphicon-search-custom {
    margin-top: 4%;
}

.glyphicon-search-custom:hover {
    border-color: #F5D0A9;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
}



.button-profile {
    border: none;
    float: right;

}



.button-profile:hover {
    background-color: #ffffff;
}

.button-profile:focus {
    background-color: #ffffff;
}

.dropdown-menu-right-custom {
    width: 50px;
}

.dropdown-menu-right-custom > li > a:hover {
    color: darkorange;
    background-color: #ffffff;
}

.btn-group-right-custom {
    float: right;
    position: relative;
    margin-right: 12%;
    margin-left: 2%;
}

.img-xs-custom {
    margin-top: 12%;
    margin-right: 10%;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
}

.dropdown-login {
    border: 2px 2px 2px 2px;
    border-color: darkorange;
    background-color: white;
    height: 100px;
}

.form-signup-custom>div>input:hover{
    border-color: #F5D0A9;
    background-color: #ffffff;
    outline:0;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
}

.form-signup-custom>div>select:hover{
    border-color: #F5D0A9;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
}

.form-signup-custom>div>input>::-moz-placeholder{
    border-color: #F5D0A9;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
}

.form-signup-custom>div>select>:selection{
    border-color: #F5D0A9;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
}


/* Automatic plan for non logged*/

.div-card-plan-info {
    margin-top:20%;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */

}



.div-card-plan-thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 270px;
    max-height: 270px;
    margin-left:10%;
    margin-right:10%;
}

.div-card-plan-thumbnail:hover {
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    -moz-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    webkit-box-shadow: inset 0 1px 1px orange, 0 0 8px orange;

}

.div-card-plan-quit {
    color: blue;

}

.espacio{
    width: 100%;
    height: 40%;

}

.div-card-plan-quit:hover {
    color: darkorange;

}

.div-card-plan-whole {
    margin-top: 5%;
}

.button-orange-plan {
    color: white;
    background-color: darkorange;
    margin-top: 5%;

}

.button-orange-plan:hover {

    color: white;
    background-color: darkorange;
    border: solid;
    border-color: darkorange;

}

.google-map-canvas {
box-sizing(content-box);
}

#contenido {
    margin-top: 100px;
}



#contenido{
    margin-top: 100px;
}

#plans{
    margin-left: 200px;
    width: 1000px;
}


#tarjetas{
    width: 1000px;
}

.img{
    margin-bottom: 10px;
}

.more{
    float: right;
    margin-top: 5%;

    margin-right: 15%;
}

.more2{
    float: right;
    margin-top: 20%;
    margin-right: -4%;


}

.activities{
width: 300px;

}

#flecha1{
    margin-left: -700px;
    margin-top: 25px;
}

#flecha2{
    margin-left: 210px;
    margin-top: 35px;
}

.filteragain{
    padding-left: 550px;
    padding-top: 150px;
}

#focus:hover{
border-color: #d58512;
outline: 0;
outline: thin dotted \9;
-moz-box-shadow: 0 0 8px #d58512);
box-shadow: 0 0 8px #d58512
}

.planes{
    border: solid;
}