{% extends 'master.html' %}
{% load i18n %}
{% block content %}
<div class=" scape-top-custom row ">

<div class=" row container center-block ">
<h3>{% trans "All registered users" %}</h3>
    {% for elem in allusers %}
        {% if elem != user and elem not in friends %}
        <form method="post" class="form-horizontal">{% csrf_token %}
        <div class="panel col-md-2 follow text-center" style="margin-left: 5%;margin-right: 5%">
            <input type="hidden" name="friend" value="{{ elem.id }}">
          <img src="/media/{{ elem.image }}" class="img-circle img-xs-custom  ">
          <div>{{ elem.djangoUser }}</div>
          <div>{% trans "Register in:" %}{{ elem.birthday }}</div>
          <input type="submit" name="añadir" class="btn btn-success" value="{% trans "Follow" %}" />
        </div>
        </form>
        {% endif %}
    {% endfor %}
</div>

</div>
{% endblock %}