{% extends 'master.html' %}
{% load i18n %}
{% block content %}

    <div class="quitamargen">
        <div class="row container center-block">
            <h4>{% trans "Trending cities" %}</h4>

            <div class="col-md-10">
                <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        {% for a in plans %}

                            <div class="{% if forloop.counter0 == 0 %}item active{% else %}item{% endif %}">
                                {% for a1 in a.activities.all %}
                                    {% if forloop.counter == 1 %}
                                         {% for c in comments %}
                                {% if c.activity == a1 %}
                                    {% if forloop.counter == 1 %}
                                   <b class="textoderecha">" {{ c.text }} "</b>
                                    <img class="img-circle img-comment" src="media/{{ c.user.image }}" style="max-width: 15%;max-height: 15%;" />
                                        {% endif %}
                                {% endif %}
                                {% endfor %}
                                        <img src="{{ MEDIA_URL }}{{ a1.location }}.jpg"
                                             style="width: 100%; max-height: 35%;"/>
                                        <b class="textociudad">{{ a1.location|title }}</b>
                                        <table class="table">
                                        <tr>
                                    {% endif %}



                                    <td style="max-width: 120px;">

                                        <a href="{% url 'activity_info' activity_id=a1.id %}">
                                            <img class=" img-rounded"
                                                 src="{{ MEDIA_URL }}{{ a1.photo }}"
                                                 style="height: 120px;width: 100%;"/>
                                        </a>
                                    {{ a1.name }}
                                    </td>







                                {% endfor %}
                                </tr>
                                </table>
                            </div>

                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
        </div>
        {% if activities.count > 0 %}
            <div class="row container center-block">
            <div class=" col-md-9" style="display: table; position: relative">
            <div class=" col-lg-12 alert alert-success text-center">
                <p>{% trans "Hey! What about that plan!?" %}</p>
            </div>

            <table class="table table-responsive">
                <tr>
                    {% for activity in plan.activities.all %}


                            <td class="panel">
                                <div>
                                    <a href="{% url 'activity_info' activity_id=activity.id %}">
                                        <img class="pull-left img-rounded" src="{{ MEDIA_URL }}{{ activity.photo }}"
                                             style="height: 120px;width: 120px;"/>
                                    </a>
                                </div>
                                <div>
                                    <comment><b>{{ activity.name }}</b></comment>

                                </div>
                            </td>



                    {% endfor %}
                </tr>

            </table>


            <div class="col-md-12  text-center">
                <br/>
                <br/>
            </div>
            <a href="{% url 'plan_info' activity_id=ac1.id activity_id2=ac2.id activity_id3=ac3.id %}">
                <button type="button" class="btn btn-warning">{% trans "I want this plan" %}</button>
            </a>
            <a href="../filter" class="btn btn-info" data-toggle="modal">{% trans "Try a custom search" %}</a>
        {% endif %}

        </div>
        <div class="col-md-3 pull-right">
            <div class="panel">
                <h2>{% trans "Featured Activities" %}</h2>
                {% for a in activities %}
                    {% if a.isPromoted == 1 %}
                        <ul>
                            <img src="{{ MEDIA_URL }}{{ a.photo }}" style="width: 60px;height: 60px;"/>
                            {{ a.name }}

                        </ul>
                    {% endif %}
                {% endfor %}
            </div>

            <h4 class="">{% trans "Most Rated Activities" %}</h4>

            <div class="  panel">
                <table class="table">

                    {% for a1 in activities %}
                        {% if a.valoration != 0 %}
                            {% if forloop.counter <= 5 %}
                                <tr>
                                    <td>

                                        <img src="{{ MEDIA_URL }}{{ a1.photo }}" style="width: 60px;height: 60px;"/>
                                        {{ a1.name }}


                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </table>
            </div>
        </div>
        </div>
    </div>

{% endblock %}



