{% extends 'master.html' %}
{% load i18n %}
{% block content %}
<div class="container scape-top-custom">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-body ">
                <h3>{% trans "About us" %}</h3>
                <p>{% trans "Nowasti emerged as a solution to the problem of lost time to organize activities when we want to take a trip or arrange a day. The objective of our application is that using an algorithm that takes user preferences, organize activities to be performed throughout the day or the amount of time indicated by the user. We also offer the ability to save these plans, to then be able to share with users. We also offer the possibility of modifying plans to model saved to your taste, even the option of creating new plans to filter through our activities" %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-body">
            <h3>{% trans "Help us" %}</h3>
            <p>{% trans "In Nowasti your opinion matters and we want you to indicate the things that you consider we can improve, from mistakes of the page itself, to ideas for improvement. Thus, to ensure that the user experience is as pleasant as possible." %}</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a class="btn button-orange-plan" href="mailto:alemaki92@gmail.com?subject=Feedback about Nowasti">{% trans "Send Email" %}</a>
    </div>
</div>


{% endblock %}