{% extends 'master.html' %}
{% block content %}
<div class="container scape-top-custom">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-body ">
                <h3>Sobre nosotros</h3>
                <p>La idea de Nowasti surgio del problema de la perdida de tiempo al organizar las actividades a la hora de realizar un viaje o quere organizarte el dia
                . El objetivo de nuestra aplicación es que mediante un algoritmo que toma las preferencias del usuario, organizarle las actividades a realizar durante todo el dia o la cantidad de tiempo indicada por el usuario.
                Tambien ofrecemos la posbilidad de guardar estos planes, para , posteriormente poder compartirlos con los usuarios. Tambien ofrecemos la posibilidad de modificar planes guardados para modelarlos a tu gusto, incluso la opcion de crear planes nuevos, a traves de nuestro filtro de actividades</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-body">
            <h3>Ayudanos</h3>
            <p> Desde Nowasti nos importa tu opinion y queremos que nos indiques las cosas que consideres que podemos mejorar, desde errores de la propia pagina, a ideas para mejorarla. De este modo, poder conseguir que la experiencia del usuario sea lo mas placentera posible.
            </p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a class="btn button-orange-plan" href="mailto:alemaki92@gmail.com?subject=Feedback about Nowasti">Enviar Correo</a>
    </div>
</div>


{% endblock %}