{% extends 'master_page_logged.html' %}
{% block content %}
<div id="div1" class="scape-top-custom container text-center">
    {% if results %}
        <comment>Please select te activities for your plan:</comment>
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
                <input type="hidden" name="custom" value="custom">
                <div class="form-group">
            {% for activity in results %}
                <div class="col-sm-6 col-md-4">
                    <button id="cross" type="button" class="close div-card-plan-quit" data-dismiss="alert" aria-hidden="true">
                        <strong>&times</strong>
                    </button>
                <input type="checkbox" class="radio" name="{{ activity.pk }}" value="{{ activity.pk }}">
                    <div id="thumb{{ forloop.counter }}" class="thumbnail div-card-plan-thumbnail" style="background-image:url('{{ MEDIA_URL }}{{ a.photo }}')">
                        <div id="info{{ forloop.counter }}" style="display: none" class="well div-card-plan-info">
                                    {{ a.description }}
                        </div>
                    </div>
                    <div class="text-center panel div-card-plan-actiname">
                        <h4>{{ a.name }}</h4>
                    </div>
                </div>
    {% endfor %}
                </div>
    <div class="form-group">
        <input type="submit" name="custom" value="Save Plan">
    </div>
    </form>
</div>
    {% else %}
        <h3>Sorry, there are no activities matching your preferences.</h3>
    {% endif %}
{% endblock %}
