{% extends 'master_page_nonlogged.html' %}
{% block content %}
<div id="div1">
    <h1>Filtera Plan</h1>
    <comment>Please, fulfill the following fields in order to offer the bests plans</comment>
    <div id="divleft">
        <input type="text" value="Location" required=""/>
        <input type="text" value="Weather" required=""/>
        <select required="">
            <option selected>Morning</option>
            <option>Evening</option>
            <option>Night</option>
        </select>
    </div>
    <div id="divright">
        <select required="">
            <option>Disco</option>
            <option>Pub</option>
            <option>Concerts</option>
            <option>Cinema</option>
            <option>Theatre</option>
            <option>Hostelry</option>
            <option>Monuments</option>
            <option>Local festivities</option>
            <option>Museums</option>
            <option>Sport events</option>
            <option>Parks</option>
        </select>
        <input type="radio" value="Free" name="Free">
        <a href="filterResult.html" class="button-orange">Filter</a>
    </div>
</div>


{% endblock %}
