{% extends 'master.html' %}
{% block content %}
<div class=" scape-top-custom row ">

<div class=" row container center-block ">
<h3>{% trans "Follower List" %}</h3>
    {% for elem in friends %}
        <form method="post" class="form-horizontal">{% csrf_token %}
        <div class="panel col-md-2 follow text-center" style="margin-left: 5%;margin-right: 5%">
            <input type="hidden" name="friend" value="{{ elem.id }}">
          <img src="/media/{{ elem.image }}" class="img-circle img-xs-custom  ">
          <div>{{ elem.djangoUser }}</div>
          <div>{% trans "Register in: " %}{{ elem.birthday }}</div>
          <input type="submit" name="borrar" class="btn btn-danger" value="{% trans "Unfollow" %}" />
          <a href="#" class="btn btn-success">{% trans "Info" %}</a>
        </div>
        </form>
    {% endfor %}
</div>

</div>
       <a class="btn button-orange-plan" style="margin-left: 10%" href="/addfriend">
        {% trans "Follow People" %}
    </a>
{% endblock %}