{% extends 'master.html' %}
{% block content %}
<div class="">
<div class=" pull-left">
<h3>Friend List</h3>
    {% for elem in friends %}
        <form method="post" class="form-horizontal">{% csrf_token %}
        <div class="panel ">
            <input type="hidden" name="friend" value="{{ elem.id }}">
          <img src="{{ MEDIA_URL }}{{ elem.image }}" class="img-circle img-xs-custom pull-left">
          <div>{{ elem.djangoUser }}</div>
          <div>Register in:{{ elem.birthday }}</div>
          <input type="submit" name="borrar" class="btn btn-danger" value="Delete Friendship" />
          <a href="#" class="btn btn-success">Info</a>
        </div>
        </form>
    {% endfor %}
</div>

<div class="pull-right">
    <h3>All people</h3>
    {% for usr in all %}
        <form method="post" class="form-horizontal">{% csrf_token %}
        <div class="panel">
        {% if usr != user and usr not in friends %}
        <input type="hidden" name="friend" value="{{ usr.id }}">
        <img src="{{ MEDIA_URL }}{{ usr.image }}" class="img-circle img-xs-custom pull-left">
        <div >Username:{{ usr.djangoUser }}</div>
        <div>Register in:{{ elem.birthday }}</div>
        <input type="submit" name="añadir" class="btn btn-primary" value="Add friend" />
        <a href="#" class="btn btn-success">Info</a>
        {% endif %}
         </div>
        </form>
    {% endfor %}

</div>

</div>

{% endblock %}