{% extends 'master.html' %}

{% block content %}



    <div id="recentlyDone" class="scape-top-custom content center-block container row">


        {% for plan in recentplans %}
            {% if forloop.counter == 0 %}
                <div class="text-center alert alert-info" style="margin-top: 8%">
                    <p>How were your activities <strong>{{ request.user }}</strong>?</p>

                    <p>Please, just take a second and rate what you did</p>

                </div>
            {% endif %}
            {% for activity in plan.activities.all %}

                <div class="col-sm-3 col-md-2 ">
                    <div class="thumbnail ">

                        <img class="image-xs-custom" src="{{ MEDIA_URL }}{{ activity.photo }}">

                        <div class="caption text-center">
                            <h5>{{ activity.name }}</h5>

                            <p><a href="#" class="btn btn-success" role="button"><span
                                    class="glyphicon glyphicon-thumbs-up"> </span></a>
                                <a href="#" class="btn btn-danger" role="button"><span
                                        class="glyphicon glyphicon-thumbs-down"> </span></a>
                            </p>
                        </div>


                    </div>

                </div>


            {% endfor %}
        {% endfor %}
    </div>
    <div class="alert alert-success alert-dismissable text-center">Here you are <strong>{{ request.user }}</strong>!
        Your plan for
        today!
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <div class=" row div-card-plan-whole">

        {% for activity in activities %}
            {% if forloop.counter <= 3 %}
                <div class="col-sm-6 col-md-4">
                    <button id="cross" type="button" class="close div-card-plan-quit" data-dismiss="alert"
                            aria-hidden="true">
                        <strong>&times</strong>
                    </button>

                    <div id="thumb{{ forloop.counter }}" class="thumbnail div-card-plan-thumbnail"
                         style="background-image:url('{{ MEDIA_URL }}{{ activity.photo }}')">

                        <div id="info{{ forloop.counter }}" style="display: none" class="well div-card-plan-info">
                            {{ activity.description }}
                        </div>


                    </div>


                    <div class="text-center panel div-card-plan-actiname">
                        <h4>{{ activity.name }}</h4>
                    </div>


                </div>
            {% endif %}
        {% endfor %}

    </div>


    <div class=" well-lg text-center ">


        <a href="{% url 'plan_info' activity_id=ac1.id activity_id2=ac2.id activity_id3=ac3.id %}" class="btn button-orange-plan">I want this plan</a>
        <a href="../filterloged" class=" btn button-orange-plan" data-toggle="modal">Filter to obtain another plan</a>


    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock %}