{% load i18n %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Nowasti</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% if request.user.is_authenticated %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                    {% for lang in LANGUAGES %}

                            <form name="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST" class="pull-left">{% csrf_token %}
                                <input name="next" type="hidden" value=""/>
                                <input type="hidden" name="language" value="{{ lang.0 }}"/>
                                {% if forloop.counter == 1 %}
                                <a class="text-darkorange" href=""
                                   onclick="document.setLang{{ lang.1 }}.submit(); return false;">en|</a>
                                {% else %}
                                <a class="text-darkorange" href=""
                                   onclick="document.setLang{{ lang.1 }}.submit(); return false;">es</a>


                                {% endif %}
                            </form>

                    {% endfor %}

                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="navbar-header col-md-4 text-center "><img src="{{ STATIC_URL }}img/logo.png"><em
                    class="text-darkorange text-lg"> nowasti </em></nav>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <!-- i18n selector -->




                <ul class="nav navbar-nav navbar-right">

                    <li {% if 'plan' in request.path %} class="active"{% endif %}><a href="/plan"
                            {% if 'plan' in request.path %} class="" {% else %}
                                                                                     class=""{% endif %}>
                        <text>{% trans "Home" %}</text>
                    </a></li>
                    <li {% if 'timeline' in request.path %} class="active"{% endif %}><a href="/timeline"
                            {% if 'timeline' in request.path %} class="" {% else %}
                                                                                         class=""{% endif %}>
                        <text>{% trans "Timeline" %}</text>
                    </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-cog text-darkorange"></span></a>
                        <ul class="dropdown-menu">

                            <li>

                                <a href="/profile/{{ request.user.ouruser.id }}/">
                                    <div class="">
                                        <img class="avatar-35 img-rounded"
                                             src="/media/{{ request.user.ouruser.image }}">
                                        <b class="name">{{ request.user }}</b>
                                        <small class="metadata">{% trans "Profile" %}</small>
                                    </div>
                                </a>


                            </li>
                            <li class="divider"></li>
                            <li><a href="/friends">{% trans "Friends" %}</a></li>
                            <li><a href="/user_plans">Pocket</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">{% trans "Logout" %}</a></li>

                        </ul>
                    </li>
                </ul>
            <form class="navbar-form navbar-right" role="search" action="/search" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="{% trans "Search" %}">

                    </div>
                    <button type="submit" class="btn btn-default"><span
                            class="glyphicon glyphicon-search text-darkorange"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% else %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                {% for lang in LANGUAGES %}

                            <form name="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST" class="pull-left">{% csrf_token %}
                                <input name="next" type="hidden" value=""/>
                                <input type="hidden" name="language" value="{{ lang.0 }}"/>
                                {% if forloop.counter == 1 %}
                                <a class="text-darkorange" href=""
                                   onclick="document.setLang{{ lang.1 }}.submit(); return false;">en|</a>
                                {% else %}
                                <a class="text-darkorange" href=""
                                   onclick="document.setLang{{ lang.1 }}.submit(); return false;">es</a>


                                {% endif %}
                            </form>

                    {% endfor %}

                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="navbar-header col-md-4 text-center "><img src="{{ STATIC_URL }}img/logo.png"><em
                    class="text-darkorange text-lg"> nowasti </em></nav>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="/signin/{{ request.path }}/">{% trans "Sign in" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="/register">{% trans "Register" %}</a></li>
                            <li class="divider"></li>

                        </ul>
                    </li>
                </ul>
            <form class="navbar-form navbar-right" role="search" action="/search" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="{% trans "Search" %}">
                    </div>
                    <button type="submit" class="btn btn-default"><span
                            class="glyphicon glyphicon-search text-darkorange"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


{% endif %}

{% block top %}


{% endblock %}

{% block bodyless %}
{% endblock %}
<body onload="clickButton();" style="">

{% block content %}

{% endblock %}

<!-- Modal signup -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New account</h4>
            </div>

            <div class="modal-body">
                <h5 class="help-block text-center"
                    id="myModalLabelx">{% trans "skip the form signing with your social accounts" %}</h5>
                <br>

                <div class="form-group text-center">
                    <div class="btn btn-primary">facebook</div>
                    <div class="btn btn-twitter">twitter</div>
                    <div class="btn btn-danger">Google +</div>
                </div>

                <form class="form-signup-custom " role="form" enctype="multipart/form-data"
                      method="post"> {% csrf_token %}
                    <div id="divUsername" class="form-group has-feedback">
                        <label for="username">{% trans "Username" %}</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter username" onblur="validateusr(false)">
                        <span id="spantick" class="hidden glyphicon glyphicon-ok form-control-feedback"></span>
                        <span id="spantickerror" class="hidden glyphicon glyphicon-remove form-control-feedback"></span>

                        <div id="alertusn"
                             class="hidden alert alert-danger">{% trans "Sorry, username in use. Please try another one" %}
                        </div>
                    </div>

                    <div id="divEmail" class="form-group has-feedback">
                        <label for="email">{% trans "Email address" %}</label>
                        <input type="email" class="form-control" id="email" name="email" onblur="validatemail(false)"
                               placeholder="Enter email">
                        <span id="spantick1" class="hidden glyphicon glyphicon-ok form-control-feedback"></span>
                        <span id="spantickerror1"
                              class="hidden glyphicon glyphicon-remove form-control-feedback"></span>

                        <div id="alertema"
                             class="hidden alert alert-danger">{% trans "Sorry, email in use. Please try another one" %}
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="password">{% trans "Password" %}</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password" onkeyup="passWeakness()">

                        <div class="progress">
                            <div id="progressBar" class="progress-bar active" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>

                    </div>
                    <div class="form-group ">
                        <label for="birthday">{% trans "Birthday" %}</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday">
                    </div>
                    <div class="form-group select-custom">
                        <label for="option1">{% trans "Gender" %}</label>
                        <select id="gender" name="gender" class="form-control select-custom">
                            <option id="option1" value="f">{% trans "Female" %}</option>
                            <option id="option2" value="m">{% trans "Male" %}</option>
                        </select>
                    </div>

                    <div id="profileimage" class="form-group">
                        <label for="profileimage">{% trans "Profile image" %}</label>
                        <input id="picture" name="picture" type="file">
                    </div>
                    <div class="help-block ">
                        <p class="help-block text-center">{% trans "By submit this form you accept our" %} <a
                                href="/terms">{% trans "terms & cons" %}</a>.</p>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn button-orange">Submit</button>
                    </div>

                    <div class="hidden">
                        <input name="inORup" value="up">
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal signin -->

<div class="modal  fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4></h4>
                <h4 class="modal-title text-center" id="myModalLabel2">
                    <img src="../static/img/logo.png" class="img-rounded">
                    Log in
                </h4>
            </div>
            <div class="modal-body pull-right col-lg-6">
                <p class="help-block">{% trans "You are about to discover a new way to enjoy your travels and share it with your friends" %}.<br>
                    {% trans "A journey plan on a single click" %}</p>
            </div>
            <div class="modal-body   modal-sm  form-signup  ">


                <form id="formulario2" class="form-signup" method="post" action="">{% csrf_token %}
                    <div id="wrongCredentials"
                         class="text-center alert alert-danger hidden"> {% trans "Wrong credentials" %}</div>
                    <div class="input-group col-xs-12 ">

                        <input id="usernamex" type="text" name="usernamelogin" class="form-control"
                               placeholder="username">
                    </div>
                    <br>

                    <div class="input-group col-xs-12">

                        <input id="passwordx" type="password" name="passwordlogin" class="form-control"
                               placeholder="password">
                    </div>


                    <div class="hidden">
                        <input name="inORup" value="in">
                    </div>
                    <div class="modal-footer">
                        <input type=submit value="Log in" class="btn button-orange center-block"/>
                    </div>


                </form>


            </div>


        </div>

    </div>

</div>


<script>

    {% if loginw == True %}
        $(document).ready(function () {
            $('#btnsignin').trigger('click');
        });

        $("#wrongCredentials").removeClass("hidden");


    {% endif %}

    function validateusr(stop) {

        {% for elem in uservform %}

            if (!stop) {
                if ("{{ elem.username }}" != $("#username").val()) {

                    $("#divUsername").addClass("has-success");

                    $("#spantick").removeClass("hidden");
                    //remove if errors before
                    $("#divUsername").removeClass("has-error");

                    $("#spantickerror").addClass("hidden");
                    $("#alertusn").addClass("hidden");


                } else if ("{{ elem.username }}" == $("#username").val()) {
                    $("#divUsername").addClass("has-error");

                    $("#spantickerror").removeClass("hidden");
                    //remove if success before
                    $("#divUsername").removeClass("has-success");

                    $("#spantick").addClass("hidden");
                    //alert
                    $("#alertusn").removeClass("hidden");
                    stop = true;
                }
            }


        {% endfor %}
    }

    function validatemail(stop) {
        {% for elem in uservform %}
            if (!stop) {
                if ("{{ elem.email }}" != $("#email").val()) {

                    $("#divEmail").addClass("has-success");

                    $("#spantick1").removeClass("hidden");
                    //remove if errors before
                    $("#divEmail").removeClass("has-error");

                    $("#spantickerror1").addClass("hidden");
                    $("#alertema").addClass("hidden");

                } else {
                    $("#divEmail").addClass("has-error");

                    $("#spantickerror1").removeClass("hidden");
                    //remove if success before
                    $("#divEmail").removeClass("has-success");

                    $("#spantick1").addClass("hidden");
                    $("#alertema").removeClass("hidden");
                    stop = true;
                }
            }
        {% endfor %}
    }

    function passWeakness() {
        var twoUpper = new RegExp('(?=.*[A-Z].*[A-Z])');
        var oneSpecial = new RegExp('(?=.*[!@#$&*])');
        var hasTwoDigits = new RegExp('(?=.*[0-9].*[0-9])');
        var threeLower = new RegExp('(?=.*[a-z].*[a-z].*[a-z])');
        var length8 = new RegExp('.{8}');
        var valeur = 0;

        $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);

        if ($("#password").val().match(twoUpper)) {

            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);


        }
        if ($("#password").val().match(oneSpecial)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(hasTwoDigits)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(length8)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(threeLower)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }


        if (0 < valeur) {
            $('.progress-bar').addClass('progress-bar-danger');
            $('.progress-bar').removeClass('progress-bar-warning');
            $('.progress-bar').removeClass('progress-bar-success');
            $('.progress-bar').html("Weak password");

        }
        if (40 < valeur) {
            $('.progress-bar').addClass('progress-bar-warning');
            $('.progress-bar').removeClass('progress-bar-success');
            $('.progress-bar').removeClass('progress-bar-danger');
            $('.progress-bar').html("Medium password");
        }
        if (valeur > 60) {
            $('.progress-bar').addClass('progress-bar-success');
            $('.progress-bar').removeClass('progress-bar-danger');
            $('.progress-bar').removeClass('progress-bar-warning');
            $('.progress-bar').html("Strong password");
        }
    }
</script>

</body>
</html>