<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EasyPlan</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body onload="clickButton();">
<div class="row">
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">

        <div class="containter-fluid">


            <div class="navbar-header navbar-logo-custom">
                <!-- company logo-->
                <a class="navbar-brand" href="../plan"> <img src="{{ STATIC_URL }}img/logowhite.png"></a>

            </div>
            <div id="internaz" class="navbar-right navbar-header" style="margin-right:5%; margin-top: 1%">
                <a href="#">es</a>|<a href="#">en</a>
            </div>
            <div class="navbar-header navbar-right" style="margin-right:12%">


                <button id="btnsignin" type="button" class="btn btn-default navbar-btn dropdown-toggle"
                        data-toggle="modal" data-target="#signinmodal">Sign in
                </button>


                <button id="btnsignup" type="button" class="btn btn-default navbar-btn " data-toggle="modal"
                        data-target="#myModal">Sign up
                </button>


            </div>


        </div>

    </nav>
</div>
<!-- Modal signup -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New account</h4>
            </div>

            <div class="modal-body">
                <h5 class="help-block text-center" id="myModalLabelx">skip the form signing with your social
                    accounts</h5>
                <br>

                <div class="form-group text-center">
                    <div class="btn btn-primary">facebook</div>
                    <div class="btn btn-twitter">twitter</div>
                    <div class="btn btn-danger">Google +</div>
                </div>

                <form class="form-signup-custom " role="form" enctype="multipart/form-data"
                      method="post"> {% csrf_token %}
                    <div id="divUsername" class="form-group has-feedback">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter username" onblur="validateusr(false)">
                        <span id="spantick" class="hidden glyphicon glyphicon-ok form-control-feedback"></span>
                        <span id="spantickerror" class="hidden glyphicon glyphicon-remove form-control-feedback"></span>

                        <div id="alertusn" class="hidden alert alert-danger">Sorry, username in use. Please try another
                            one
                        </div>
                    </div>

                    <div id="divEmail" class="form-group has-feedback">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" onblur="validatemail(false)"
                               placeholder="Enter email">
                        <span id="spantick1" class="hidden glyphicon glyphicon-ok form-control-feedback"></span>
                        <span id="spantickerror1"
                              class="hidden glyphicon glyphicon-remove form-control-feedback"></span>

                        <div id="alertema" class="hidden alert alert-danger">Sorry, email in use. Please try another
                            one
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password" onkeyup="passWeakness()">

                        <div class="progress">
                            <div id="progressBar" class="progress-bar active" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>

                    </div>
                    <div class="form-group ">
                        <label for="birthday">Birthday</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday">
                    </div>
                    <div class="form-group select-custom">
                        <label for="option1">Gender</label>
                        <select id="gender" name="gender" class="form-control select-custom">
                            <option id="option1" value="f">Female</option>
                            <option id="option2" value="m">Male</option>
                        </select>
                    </div>

                    <div id="profileimage" class="form-group">
                        <label for="profileimage">Profile image</label>
                        <input id="picture" name="picture" type="file">
                    </div>
                    <div class="help-block ">
                        <p class="help-block text-center">By submit this form you accept our <a href="/terms">terms &
                            cons</a>.</p>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn button-orange">Submit</button>
                    </div>

                    <div class="hidden">
                        <input name="inORup" value="up">
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal signin -->

<div class="modal  fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4></h4>
                <h4 class="modal-title text-center" id="myModalLabel2">
                    <img src="../static/img/logo.png" class="img-rounded">
                    Log in
                </h4>
            </div>
            <div class="modal-body pull-right col-lg-6">
                <p class="help-block">You are about to discover a new way to enjoy your travels and share it with your
                    friends. <br>A journey plan on a single click</p>
            </div>
            <div class="modal-body   modal-sm  form-signup  ">


                <form id="formulario2" class="form-signup" method="post" action="">{% csrf_token %}
                    <div id="wrongCredentials" class="text-center alert alert-danger hidden"> Wrong credentials</div>
                    <div class="input-group col-xs-12 ">

                        <input id="usernamex" type="text" name="usernamelogin" class="form-control"
                               placeholder="username">
                    </div>
                    <br>

                    <div class="input-group col-xs-12">

                        <input id="passwordx" type="password" name="passwordlogin" class="form-control"
                               placeholder="password">
                    </div>


                    <div class="hidden">
                        <input name="inORup" value="in">
                    </div>
                    <div class="modal-footer">
                        <input type=submit value="Log in" class="btn button-orange center-block"/>
                    </div>


                </form>


            </div>


        </div>

    </div>

</div>


{% block content %}

{% endblock %}


<!--<footer class="panel-footer panel-footer-custom">&copy 2014 PAMAB
    <a href="#">Contact</a>
    <a href="#">Legal</a>
    <a href="#">Developers</a>


</footer> -->

<script>

    {% if loginw == True %}
        $(document).ready(function(){
            $('#btnsignin').trigger('click');
        });

        $("#wrongCredentials").removeClass("hidden");


    {% endif %}

    function validateusr(stop) {

        {% for elem in uservform %}

            if (!stop) {
                if ("{{ elem.username }}" != $("#username").val()) {

                    $("#divUsername").addClass("has-success");

                    $("#spantick").removeClass("hidden");
                    //remove if errors before
                    $("#divUsername").removeClass("has-error");

                    $("#spantickerror").addClass("hidden");
                    $("#alertusn").addClass("hidden");


                } else if ("{{ elem.username }}" == $("#username").val()) {
                    $("#divUsername").addClass("has-error");

                    $("#spantickerror").removeClass("hidden");
                    //remove if success before
                    $("#divUsername").removeClass("has-success");

                    $("#spantick").addClass("hidden");
                    //alert
                    $("#alertusn").removeClass("hidden");
                    stop = true;
                }
            }


        {% endfor %}
    }

    function validatemail(stop) {
        {% for elem in uservform %}
            if (!stop) {
                if ("{{ elem.email }}" != $("#email").val()) {

                    $("#divEmail").addClass("has-success");

                    $("#spantick1").removeClass("hidden");
                    //remove if errors before
                    $("#divEmail").removeClass("has-error");

                    $("#spantickerror1").addClass("hidden");
                    $("#alertema").addClass("hidden");

                } else {
                    $("#divEmail").addClass("has-error");

                    $("#spantickerror1").removeClass("hidden");
                    //remove if success before
                    $("#divEmail").removeClass("has-success");

                    $("#spantick1").addClass("hidden");
                    $("#alertema").removeClass("hidden");
                    stop = true;
                }
            }
        {% endfor %}
    }

    function passWeakness() {
        var twoUpper = new RegExp('(?=.*[A-Z].*[A-Z])');
        var oneSpecial = new RegExp('(?=.*[!@#$&*])');
        var hasTwoDigits = new RegExp('(?=.*[0-9].*[0-9])');
        var threeLower = new RegExp('(?=.*[a-z].*[a-z].*[a-z])');
        var length8 = new RegExp('.{8}');
        var valeur = 0;

        $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);

        if ($("#password").val().match(twoUpper)) {

            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);


        }
        if ($("#password").val().match(oneSpecial)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(hasTwoDigits)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(length8)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }
        if ($("#password").val().match(threeLower)) {
            valeur += 20;
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur);
        }


        if (0 < valeur) {
            $('.progress-bar').addClass('progress-bar-danger');
            $('.progress-bar').removeClass('progress-bar-warning');
            $('.progress-bar').removeClass('progress-bar-success');
            $('.progress-bar').html("Weak password");

        }
        if (40 < valeur) {
            $('.progress-bar').addClass('progress-bar-warning');
            $('.progress-bar').removeClass('progress-bar-success');
            $('.progress-bar').removeClass('progress-bar-danger');
            $('.progress-bar').html("Medium password");
        }
        if (valeur > 60) {
            $('.progress-bar').addClass('progress-bar-success');
            $('.progress-bar').removeClass('progress-bar-danger');
            $('.progress-bar').removeClass('progress-bar-warning');
            $('.progress-bar').html("Strong password");
        }
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!-- jQuery drag'n'drop dropzone-->
<script src="{{ STATIC_URL }}js/dropzone.js"></script>
</body>
</html>
