{% extends 'master.html' %}
{% block content %}
    <div class="row container center-block scape-top-custom">
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <h3>Please select your preference:</h3>
        <div class="form-group">
            <label><input type="checkbox" class="radio checkbox-inline" name="1" value=1>Eat at the hotel</label>
        </div>
        <div class="form-group">
            <label><input type="checkbox" class="radio checkbox-inline" name="2" value=2>Rest after eating</label>
        </div>
        <div class="form-group">
            <label><input type="checkbox" class="radio checkbox-inline" name="3" value=3>Do not include food related activities</label>
        </div>
        <div class="form-group">
            <label><input type="checkbox" class="radio checkbox-inline" name="4" value=4>Rest before eating</label>
        </div>
        <div class="form-group">
            <input type="submit" name="set_preferences" class="button-orange btn" value="Save">
        </div>
    </form>
    <a href="/set_tastes"><button class="button-orange btn">Set new sector preference</button></a>
    </div>
{% endblock %}