{% extends 'master.html' %}
{% load i18n %}

{% block content %}
    <div class="row container center-block ">
        <div class="col-md-4">
            <img src="/media/{{ user.image }}" class="img-rounded" alt="Rounded Image"
                 height="240" width="240">

            {% if request.user == user.djangoUser %}
                <div class="padding-top-5">
                    <a href="/preferences">
                        <button class="btn btn-default text-orange">Add preferences</button>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3 class=""><span class="text-darkorange">{{ user.djangoUser }}</span></h3>
            <h4 class="help-block">plan preferences</h4>
            {% for taste in user.tastes.all %}
                <div class="row">
                    <div class="col-md-5 panel panel-success">
                        {% if taste.attribute_name == 'sector' %}
                            <div class="col-md-6">
                                <span>{{ taste.attribute_value }} <br></span>
                            </div>
                            <div class="col-md-6">
                            {% if taste.degree == 0 %}
                                <span class="text-danger glyphicon glyphicon-thumbs-down"> Never </span>
                            {% elif taste.degree == 1 %}
                                <span class="text-danger glyphicon glyphicon-thumbs-down"> Rarely </span>
                            {% elif taste.degree == 2 %}
                                <span class="text-success glyphicon glyphicon-thumbs-up"> Sometimes </span>
                            {% elif taste.degree == 3 %}
                                <span class="text-success glyphicon glyphicon-thumbs-up"> Often </span>
                            {% endif %}
                            <br>
                        {% elif taste.attribute_name == 'valoration' %}
                            <span>Activities rating greater than <span class="{% if taste.degree > 4.9 %}text-success {% else %}text-danger {% endif %}">{{ taste.degree }} <span class="glyphicon glyphicon-star"></span></span></span>
                        {% endif %}

                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="bs-example">
            <div class="col-md-4">

                <div class="media">
                    <div class="pull-left"></div>
                    <div class="media-body">


                    </div>
                </div>
                <br>

            </div>

        </div>
    </div>

{% endblock %}