{% extends 'master.html' %}

{% block content %}
    <div class="row container center-block scape-top-custom">


        <div class="padding-right-25 padding-left-25">
            <div class="panel col-md-12">
                <div class="panel-heading">
                    <h4 class="modal-title text-center">
                        <img src="{{ STATIC_URL }}img/logo.png" class="img-rounded">
                        {% trans "Log in" %}
                    </h4>
                </div>

                <table class="table">
                    <tr>
                        <td style="width:50%">
                            <div class="form-signup">


                                <form id="formulario2" class="form-signup" method="post" action="">{% csrf_token %}
                                    <div id="wrongCredentials" class="text-center alert alert-danger hidden"> {% trans "Wrong credentials" %}
                                    </div>
                                    <div class="input-group col-md-10 ">

                                        <input id="usernamex" type="text" name="usernamelogin" class="form-control"
                                               placeholder="{% trans "username" %}">
                                    </div>
                                    <br>

                                    <div class="input-group col-md-10">

                                        <input id="passwordx" type="password" name="passwordlogin" class="form-control"
                                               placeholder="{% trans "password" %}">
                                    </div>


                                    <div class="hidden">
                                        <input name="inORup" value="in">
                                    </div>
                                    <div class=" padding-top-5 padding-bottom-5 padding-left-25">
                                        <input type=submit value="{% trans "Log in" %}" class="btn button-orange"/>
                                    </div>


                                </form>


                            </div>

                        </td>
                        <td>
                            <div class="">
                                 <comment class="help-block">{% trans "You are about to discover a new way to enjoy your travels and share it with your friends. A whole plan on a single click" %}</comment>
                            </div>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>

{% endblock %}