{% extends 'master.html' %}
{% load i18n %}
{% block content %}

    <div class=" row scape-top-custom container center-block">
        <h1 class="text-darkorange"> {% trans "Wishlist" %}</h1>
        {% for plan in plans %}
            {% for activity in plan.activities %}
                <div class="col-md-4">

                    <div class="">
                        {% ifequal activity.isFree 'f' %}


                        {% endifequal %}

                        <div class="">
                            <span>{{ activity.name }}</span>
                        </div>
                        <a href="{% url 'activity_info' activity_id=activity.id %}"> <img
                                class="img-rounded img-md-custom col-md-14" src="{{ MEDIA_URL }}{{ activity.photo }}"
                                alt="..."></a>

                        <div class="overlap-wish-custom">
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-plus pull-left"></span> </a>
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-star pull-right"></span></a>
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-share pull-right"></span></a>
                        </div>

                    </div>

                </div>

            {% endfor %}
        {% endfor %}
        <div class="container center-block ">
            <ul class="pagination">
                <form method="get">
                    <ul class="pager">
                        {% if plans.has_previous %}
                            <li><a href="?page={{ plans.previous_page_number }}">{% trans "Previous" %}</a></li>
                        {% endif %}
                        {% if plans.has_next %}
                            <li><a href="?page={{ plans.next_page_number }}">{% trans "Next" %}</a></li>
                        {% endif %}
                    </ul>
                </form>
            </ul>
        </div>
    </div>



{% endblock %}