{% extends 'master_page_logged.html' %}
{% block content %}

    <div class=" row scape-top-custom container center-block">
        <h1 class="text-darkorange"> Wishlist</h1>
        {% for plan in plans %}
            {% for activity in plan.activities.all %}
                <div class="col-sm-2 col-md-2">

                    <div class="">
                        {% ifequal activity.isFree 'f' %}


                        {% endifequal %}

                        <div class="">
                            <span>{{ activity.name }}</span>
                        </div>
                        <a href="{% url 'activity_info' activity_id=activity.id %}"> <img
                                class="img-rounded img-md-custom col-md-14" src="{{ MEDIA_URL }}{{ activity.photo }}"
                                alt="..."></a>

                        <div class="overlap-wish-custom">
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-plus pull-left"></span> </a>
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-star pull-right"></span></a>
                            <a href=""> <span class="col-xs-3 glyphicon glyphicon-share pull-right"></span></a>
                        </div>

                    </div>

                </div>

            {% endfor %}
        {% endfor %}

    </div>



{% endblock %}