{% extends 'master_page_logged.html' %}

{% block content %}

<div class="content center-block container scape-top-custom row">
<div class="row div-card-plan-whole">
    {% for elem in data %}
        <div class="container">
        {% for activity in elem.plan.activities.all %}
        <div class="col-sm-10 col-md-4 {% if elem.plan.done == True %} bg-success {% else %} bg-warning {% endif %}">
            <div  class="thumbnail div-card-plan-thumbnail" style="background-image:url('{{MEDIA_URL}}{{activity.photo}}')">
                <div  style="display: none" class="well div-card-plan-info">
                    {{activity.description}}
                </div>
            </div>
            <div class="text-center panel div-card-plan-actiname">
                <h4>{{activity.name}}</h4>
            </div>
        </div>
        {% endfor %}
            <div class="text-center panel div-card-plan-actiname">
                <h4>This plan has been shared to:<br></h4>
                {% for person in elem.sharedTo %}
                    <img src="{{ MEDIA_URL }}{{ person.image }}" class="img-xs-custom img-rounded">
                    {{ person.djangoUser }}<br>
                {% empty %}
                    Nobody! Share it now?<br>
                {% endfor %}
            <!-- Button trigger modal -->
            <button class="btn button-orange-plan" data-toggle="modal" data-target="#myModal{{ elem.plan.pk }}">Share</button>
            <!-- Modal -->
                <div class="modal fade" id="myModal{{ elem.plan.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Share this plan</h4>
                      </div>
                    <form class="form-horizontal" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="plan" value="{{ elem.plan.pk }}">

                        {% for friend in elem.toShare %}
                            <img src="{{ MEDIA_URL }}{{ friend.image }}" class="img-xs-custom img-rounded">
                            <label>{{ friend.djangoUser }} <input type="checkbox" name="user" value="{{ friend.pk }}"></label><br>
                        {% empty %}
                            <p>You have no more friends to share this plan.</p>
                        {% endfor %}
                    </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Share</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

</div>

{% endblock %}
