{% extends 'master.html' %}

{% block content %}

<div class="row center-block container scape-top-custom ">

    <h1>Pocket plans</h1>

    {% for elem in userplans %}
        <table>
        <tr>
             <h5>Plan done in location</h5>
                <h6>Activities</h6>
               {% for a in elem.activities.all  %}

                    <td class="panel" style="padding: 3%">
                                <div>
                                    <a href="{% url 'activity_info' activity_id=a.id %}">
                                        <img  src="{{ activity.photo }}"
                                             style="height: 120px;width: 120px;"/>
                                    </a>
                                 {{ a.name }}
                                </div>
                                <div>

                                </div>
                </td>
               {% endfor %}

        </tr>

        </table>
         <a href="/getplan/{{ elem.id }}" class="btn button-orange-plan ">View Plan</a>
        <a href="/shareplan/{{ elem.id }}" class="btn button-orange-plan ">Share Plan</a>
        <a href="/mod_plan/{{ elem.id }}" class="btn button-orange-plan ">Edit Plan</a>
    {% endfor %}

</div>

</div>

{% endblock %}
