{% extends 'master_page_logged.html' %}

{% block content %}

<div class="content center-block container scape-top-custom row">
<div class="row div-card-plan-whole">
    {% for plan in plans %}
        <div class="container">
        {% for activity in plan.activities.all %}
        <div class="col-sm-10 col-md-4 {% if plan.done == True %} bg-success {% else %} bg-warning {% endif %}">
            <div  class="thumbnail div-card-plan-thumbnail" style="background-image:url('{{MEDIA_URL}}{{activity.photo}}')">
                <div  style="display: none" class="well div-card-plan-info">
                    {{plan.endDate}}
                </div>
            </div>
            <div class="text-center panel div-card-plan-actiname">
                <h4>{{activity.name}}</h4>
            </div>
        </div>
        {% endfor %}
            <div class="text-center panel div-card-plan-actiname">
                <h4>This plan has been shared to:<br></h4>
                {% for person in plan.sharedTo.all %}
                    {{ person.djangoUser }}<br>
                {% empty %}
                    Nobody! Share it now?<br>
                {% endfor %}
            <input type="hidden" name="id" value="{{ plan.pk }}">
            <!-- Button trigger modal -->
            <button class="btn button-orange-plan" data-toggle="modal" data-target="#myModal">Share</button>
            <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Share this plan</h4>
                      </div>
                        {% for friend in friends %}
                            {% if friend not in plan.sharedTo %}
                                {{ friend.djangoUser }}<br>
                            {% endif %}
                        {% empty %}
                            <p>You have no friends yet.</p>
                        {% endfor %}
                      <div class="modal-body">
                          <form class="form-horizontal" role="form" action="." method="post">{% csrf_token %}
                            <div class="form-group">

                            </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

</div>

{% endblock %}
