{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nowasti</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom.css -->
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--
<nav class="panel-heading navbar navbar-default navbar-custom" role="navigation">
    <div class="col-lg-5"></div>
    <div class="col-lg-3" style="margin-top: -0.5%"> -- >
<!-- company logo-->
<!--          <a class=" text-white-custom" href="#"> <img class="" src="{{ STATIC_URL }}img/logowhite.png"> <em>nowasti</em></a>

    </div>
</nav>
-->
<!-- small devices -->
<div class="visible-xs">
    <div class="padding-top-5 padding-right-25 padding-left-25">
          <div class="alert alert-success">{% trans "Download our android app for a better experience" %} </div>
          <div class="text-center padding-bottom-5">
                    <img src="{{ STATIC_URL }}img/badge_android.png">
                </div>

        <div class="panel col-md-8">
            <div class="">
                <h4 class="text-center">
                <img src="{{ STATIC_URL }}img/logo.png" class="img-rounded">
                Log in
                </h4>
            </div>

            <div class="row">


                        <div class="">


                            <form id="formulario2" class="form-signup" method="post" action="">{% csrf_token %}
                                <div id="wrongCredentials" class="text-center alert alert-danger hidden"> {% trans "Wrong credentials" %}
                                </div>
                                <div class="input-group col-xs-6 col-centered">

                                    <input id="usernamex" type="text" name="usernamelogin" class="form-control"
                                           placeholder="{% trans "username" %}">
                                </div>
                                <br>

                                <div class="input-group col-xs-6 col-centered">

                                    <input id="passwordx" type="password" name="passwordlogin" class="form-control"
                                           placeholder="{% trans "password" %}">
                                </div>


                                <div class="hidden">
                                    <input name="inORup" value="in">
                                </div>
                                <div class=" padding-top-5 padding-bottom-5 text-center">
                                    <input type=submit value="Log in" class="btn button-orange"/>
                                    <a href="/plan" class="">{% trans "Enter without log in" %}</a>

                                </div>


                            </form>


                        </div>




            </div>


        </div>
    </div>

</div>

<!-- end small devices -->


<div class="visible-lg visible-md visible-sm">
    <div class="row escape-top-welcome-custom left-margin-login-custom">
        <nav class="navbar-header col-md-4 text-center "><img src="{{ STATIC_URL }}img/logo.png"><em
                class="text-darkorange text-lg"> nowasti </em></nav>

        <form class="form-inline pull-right" method="post" role="form" action="/">{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="InputEmail2">{% trans "Email address" %}</label>
                <input type="text" class="form-control" id="InputName2" placeholder="{% trans "Enter username" %}"
                       name="usernamelogin">
            </div>
            <div class="form-group">
                <label class="sr-only" for="InputPassword2">{% trans "Password" %}</label>
                <input type="password" class="form-control" id="InputPassword2" placeholder="{% trans "Password" %}"
                       name="passwordlogin">
            </div>
            <input type="submit" class="btn btn-warning" name="log" value="{% trans "Sign in" %}"/>

            <div class="col-md-5 checkbox text-darkorange text-xs"><input type="checkbox"> {% trans "remember me" %}</div>
            <div class="col-md-5 text-xs"><a class="text-darkorange" href="/register">{% trans "create new account" %} </a></div>

        </form>
    </div>
    <div class="row escape-top-welcome-custom background-custom"
         style="background-image: url('{{ STATIC_URL }}img/welcome.jpg'); background-size:cover;">
        <div class="col-md-12">
            <h1 class="text-center text-white-custom">{% trans "Get a plan with just a click" %}</h1>
        </div>
        <div class="col-md-12 text-center" style="z-index:3;">
            <p><a href="/plan" class="btn btn-lg btn-warning" role="button">{% trans "Let's start" %}</a>
        </div>

        <div class="col-md-5 pull-right">
            <div class="">
                <div>
                    <img class="nexus-size" src="{{ STATIC_URL }}img/nexus5.png">
                </div>
            </div>
        </div>

        <div class="" style="width: 100%; padding-top:30%; padding-left:15%;">


            <div class=" overlap-panel-custom col-sm-4 col-md-5 ">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-orange">{% trans "Get amazing plans and share them with your friends" %}</h3>

                        <div class="row disabled center-block">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-time"></span>
                            </button>
                            <em class="col-md-10 pull-right">{% trans "Stop wasting hours finding lots of activities reviews" %}</em>
                        </div>
                        <div class="row disabled center-block">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon- glyphicon-hand-up"></span>

                            </button>
                            <em class="col-md-10 pull-right">{% trans "Get what you want with just a click" %}</em>
                        </div>
                        <div class="row disabled center-block">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <em class="col-md-10 pull-right">{% trans "Try our automatic system to get plans or make your custom searching" %}</em>
                        </div>
                        <div class="row disabled center-block">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-share"></span>
                            </button>
                            <em class="col-md-10 pull-right">{% trans "Share what you have done to your friends" %}</em>
                        </div>

                        <div class="row disabled center-block">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                            <em class="col-md-10 pull-right">{% trans "Rate the activities you have done to give feedback" %}</em>
                        </div>
                        <div class="row disabled text-center">
                            <a href="/register" class="btn btn-warning">{% trans "free register to get all this" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img src="{{ STATIC_URL }}img/badge_android.png">
                </div>


            </div>

        </div>

    </div>

</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>